{
    admin off
    auto_https off
}

:80 {
    encode zstd gzip
    @dynamic not path /_next/static/*
    header @dynamic >Cache-Control "no-store"
    header X-Robots-Tag "noindex, nofollow, noarchive"
    header X-Content-Type-Options "nosniff"
    header Referrer-Policy "strict-origin-when-cross-origin"
    reverse_proxy /api/* api:3001
    reverse_proxy /health api:3001
    reverse_proxy /ws/* api:3001
    reverse_proxy frontend:3000
}

:81 {
    header X-Robots-Tag "noindex, nofollow, noarchive"
    reverse_proxy minio:9000
}
